.navigationBar {
    background-color: #000;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 12px 20px;
}

.navigationBar img {
    padding:0px 10px;
}

.navigationBar nav a {
    color: #ffffff;
    font-size: 32px;
    padding: 10px 10px;
    font-family: 'Poppins';
}