* {
    padding: 0;
    margin: 0;
}

.navigationBar {
    background-color: #000;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: left;
    z-index: 3;
}

.navigationBar a {
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    font-family: "Poppins";
    text-decoration: none; /* Remove o sublinhado */
    display: inline-block;
}

.navigationBar a:after{
    display: block;
    content: '';
    border-bottom: solid 3px #ffffff;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transition: transform 200ms ease-in-out;
    -webkit-transition: transform 200ms ease-in-out;
    -moz-transition: transform 200ms ease-in-out;
    -ms-transition: transform 200ms ease-in-out;
    -o-transition: transform 200ms ease-in-out;
}

.navigationBar a:hover:after{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}

.navigationBar a img {
    vertical-align: middle;
}
body {
    z-index: 1;
    position: relative;
    background-color: rgb(22, 21, 21);
    background-position: center;
}

.mainBody {
    display: flex;
    position: relative;
    justify-content: center;
    font-family: "Poppins";
    z-index: 1;
}

.upperText {
    color: white;
    position: relative;
    margin-top: 2%;
    font-size: 52px;
    text-align: center;
    font-family: "Poppins";
    font-weight: 700;
}

.gamesBox {
    position: absolute;
    justify-content: center;
    display: flex;
    margin-top: 15%;
}

.HellOWorldInfo {
    color: white;
    width: 1200px;
    height: 400px;
    background-color: black;
    border: 3px solid #ffffff;
    border-radius: 40px;
    justify-items: center;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.HellOWorldInfo h1 {
    font-size: 40px;
    color: red;
    text-align: center;
    justify-self: center;
    position:relative;
}

.HellOWorldInfo p {
    text-align: center;
}
