* {
    padding: 0;
    margin: 0;
}

.navigationBar {
    background-color: #000;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: left;
    z-index: 3;
}

.navigationBar a {
    color: white;
    padding: 10px 15px;
    font-size: 24px;
    font-family: "Poppins";
}

.navigationBar a img {
    margin-top: 10%;
}

body {
    z-index: 1;
    position: relative;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1) 50%), url("unnamed.png");
    background-position: center;
}

.mainBody {
    display: flex;
    position: relative;
    justify-content: center;
    font-family: "Poppins";
    z-index: 1;
    overflow: hidden;
}

.mainBody .fadingLogo {
    opacity: 100%;
    mask-image: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, transparent 35%);
    object-fit: contain;
    overflow: hidden;
    transform: scale(1.8) translateY(20%);
    -webkit-transform: scale(1.8) translateY(20%);
    -moz-transform: scale(1.8) translateY(20%);
    -ms-transform: scale(1.8) translateY(20%);
    -o-transform: scale(1.8) translateY(20%);
}

.mainBody .logoCenter {
    position: absolute;
    align-self: center;
    margin-top: -28%;
    height: 75%;
    width: 75%;
}

.mainBody .logoMoto {
    position: absolute;
    align-self: center;
    margin-top: -20%;
    font-size: 26px;
    color: white;
}