* {
    padding: 0;
    margin: 0;
}

.navigationBar {
    background-color: #000;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: left;
    z-index: 3;
}

.navigationBar a {
    color: white;
    padding: 10px 15px;
    font-size: 24px;
    font-family: "Poppins";
}

body {
    z-index: 1;
    overflow: hidden;
    position: relative;
}

.mainBody {
    display: flex;
    position: relative;
    justify-content: center;
    font-family: "Poppins";
    z-index: 1;
    background-image: url("unnamed.png");
}

.mainBody .fadingLogo {
    opacity: 100%;
    mask-image: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, transparent 50%);
}

.mainBody .logoCenter {
    position: absolute;
    align-self: center;
    margin-top: -28%;
}

.mainBody .logoMoto {
    position: absolute;
    align-self: center;
    margin-top: -18%;
    font-size: 32px;
    color: white;
}